*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    scroll-behavior: smooth;
    scroll-padding: 30%;
    transition: all ease .2s;
}



.nav{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 120px;
    
}

.nav ul{
    list-style: none;
    display: flex;
}

.nav ul li{
    margin-left: 20px;
}

.nav ul li a{
    color: black;
    font-weight: bolder ;
    font-size: 19px;
    text-decoration: none;
    border-bottom:2px solid transparent ;
    border-radius: 4%;
    transition: .3s;
}

.nav ul li a:hover{
    border-bottom: 2px solid orange;


}



/*Switch Dark mode*/

.switch{
    background-color: rgb(15, 4, 54);
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;

}

.switch span{
    height: 30px;
    width: 30px;
    display: block;
    color: white;
    line-height: 30px;
    background:none;
}

.switch::after{
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    background-color: #F1F1F1;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,.2);
}

.active-btn{
    background-color: orange;
}

.active-btn::after{
    left: unset;
    right: 0;
    
}

.dark{
    background-color: rgb(26, 25, 25) !important;
    color: white !important;
}

.dark2{
    color: white !important;
}

.dark3{
    background-color: white !important;
}


.container{
    width: 100%;
    display: flex;
    justify-content: center;

}

.box{
    width: 750px;
    text-align: center;
    margin-top: 10%;
    
}

.box h1{
    font-size: 400%;
    font-weight: bolder;
  
}

.box p{
    font-size: 130%;
    font-weight: bolder;
    margin-top: 5%;
    text-align: center !important;
}


.row{
    width: 100%;
    display: flex;
  
    margin-top: 20%;

}




.imagen{
    width: 50%;
    
    display: flex;
    justify-content: flex-end;
}

.imagen img{
    width: 72%;
}

.texto{
    width: 30%;
    display: flex;
    justify-content: center;
    margin-left: 3%;
    flex-direction: column;

}

.texto h3{
    color: rgb(247, 115, 8);
    font-size: 120%;
}
.texto h1{
    color: rgb(26, 26, 26);
    font-size: 300%;
    text-align: start;

}
.texto span{
    color: rgb(82, 82, 82);
    font-weight: bolder;
    text-align: start;
    margin-top: 2%;

}


.row2{
    width: 100%;
    display: flex;
    margin-top: 20%;

}

.ml{
    margin-left: 15%;
}


.row , .row2{
    opacity: 0;
    transition: all .9s;
}

.aparece{
    opacity: 1 !important;
    
}
.aparece2{
    opacity: 1 !important;
    
}


.curriculum{
    width: 100%;
    height: 30vh;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 30px;
    flex-direction: column;
}
.curriculum button{
    margin-top: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    font-size: 30px;
    background-color: rgb(32, 153, 153);
    transition: all .5s;
    cursor: pointer;
    
}

.curriculum button:hover{
    background-color: rgb(21, 133, 133);
}

.curriculum button a{
   
    text-decoration: none;
    color: white;

}


footer{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
}
footer a{
    text-decoration: none;
    color: rgb(247, 115, 8);
}

/* Abre navegación Responsive */
.open{
    top: 0!important;
}

/* No permite escrolear cuando se abre el menú responsive. */
.noscroll{
    overflow: hidden;
}


/* Media queries Moviles */
@media only screen and (max-width:420px){
    .mobile_button{
        position: absolute;
        right: 15px;
        top: 10px;
        z-index: 4;
    
    }
    .line{
        width: 30px;
        height: 3px;
        background: rgb(0, 0, 0);
        margin: 5px;
        
    }
    
    .nav img{
        display: none;
    }

    .nav{
        background-color: rgb(255, 255, 255);
        width: 100%;
        height:100vh;
        flex-direction: column;
        position: absolute;
        top: -100vh;
        justify-content: center;
        transition: all .6s;
    }

    .nav ul{
        flex-direction: column;
        text-align: center;
        
    }
    .nav ul li{
        margin-left: 0px;
        margin-top: 20px;
    }
    .nav ul li a{
        color: rgb(247, 115, 8);
        
       
    }

    .dark-mode{
        position: absolute;
        top: 0;
        left: 5%;
    }

   


    .logo-icon{
        display: none;
    }

    .box{
        margin-top: 50px;
    }
    .box h1{
        font-size: 160%;
       
      
    }
    
    .box p{
        font-size: 70%;
        margin: 10px 30px;
        
    }
    .texto h3{
       
        font-size: 60%;
    }
    .texto h1{
        color: rgb(26, 26, 26);
        font-size: 100%;
        text-align: start;
    
    }
    .texto span{
        color: rgb(82, 82, 82);
        font-weight: bolder;
        text-align: start;
        margin-top: 2%;
    
    }

    .curriculum{
        font-size: 20px;
        
    }

    .curriculum button{
        font-size: 20px;        
    }

    footer{
        height: 15vh;
        border-top: 1px solid ;
    }
}


